{% extends 'base.html.twig' %}

{% block title %}Création du compte{% endblock %}

{% block body %}
    <div class="p-3 container-fluid border col-sm-6 col-lg-5 mt-5" style="height: 20em" >
        <div class="row mt-2">
            <div class = "col-1"></div>
            <div class = "col-10">
                <h1 class="text-center">Créé ton profil de surfeur</h1>
            </div>
            <div class="col-1"></div>
            <form>
                <div class="col-12">
                    <label>Email</label>
                </div>
                <input class=""form-control aria-label="Default">
                <div class="col-12">
                    <label for="inputEmail">Email</label>
                </div>
                <input>
            </form>
        </div>
    </div>
{% endblock %}
