{% extends 'base.html.twig' %}

{% block meta %}
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        charset="UTF-8"
/>
{% endblock %}

{% block title %}Mon super titre!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet">
    <style>
        #windy {
            width: 1000px;
            height: 1000px;
        }
    </style>
{% endblock %}

{% block scriptlink%}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid bg-white">
    <div id="windy"></div>
    {{ encore_entry_script_tags('windy') }}
</div>
{% endblock %}