{% extends 'base.html.twig' %}

{% block meta %}
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=yes"
        charset="UTF-8"
/>
{% endblock %}

{% block title %}Ma grande carte!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet">
    <style>
        #windy {
            width: 100%;
            height: 900px;
            /*J'arrive pas à mettre le height */
        }
    </style>
{% endblock %}

{% block scriptlink%}
{#    Imports pour la carte, les deux sont néccéssaires#}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://api.windy.com/assets/map-forecast/libBoot.js"></script>
{% endblock %}

{% block body %}
<div class="container-fluid bg-white">
    <div class="row">
        <div class="col" id="windy"></div>
        {{ encore_entry_script_tags('windy') }}
    </div>
</div>
{% endblock %}