<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <meta charset="UTF-8">
        {% endblock %}
        <title>{% block title %}My App{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block scriptlink %} {% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
